<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
       <% for(item of data){ %>
            <h1> <%= item.name %> </h1>
            <img src="<%= item.image %>" alt=" <%= item.name %>">
            <p> <%= item.price %> </p>
            <h3> <%= item.description %> </h3>
            <a type="button" href="/product/<%=item._id%>">Show This</a>
            <a href="/product/<%=item._id%>/edit">Edit Comment</a>
            <form action="/product/<%=item._id%>?_method=DELETE" method="post">
                <button>Delete this entry</button>
            </form>
      <%  } %>
 </body>
</html>