<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Found Product</title>
</head>
<body>

        <h1> <%= foundProduct.name %> </h1>
        <img src="<%= foundProduct.image %>" alt=" <%= foundProduct.name %>">
        <p> <%= foundProduct.price %> </p>
        <h3> <%= foundProduct.description %> </h3>
</body>
</html>